.navbar {
  display: flex;
  align-items: center;
  background-color: white;
  width: 100vw;
  justify-content: space-between;
  padding: 10px;
}
.navbar-left, .navbar-right {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.navbar-item {
  transition: all ease-in-out .3s;
}

.navbar-item a{
  /* display: inline-block; */
  padding: 25px 20px;
  text-decoration: none;
  color: inherit;
}

.navbar-item a:hover {
  background-color: lightgreen;
  color: white;
}
